---
import "../styles/global.css";
import logoImage from "../assets/logo.png";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const ogImage = "/favicon.svg";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400&family=Montserrat:wght@700;800&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body
    class="watermark-bg bg-[#e6f0ff] text-[#003366] antialiased relative min-h-screen"
  >
    <slot />

    <style define:vars={{ logoUrl: `url(${logoImage.src})` }}>
      .watermark-bg::before {
        content: "";
        position: fixed;
        inset: 0;
        z-index: -1;
        pointer-events: none;
        background-image: var(--logoUrl);

        /* 1. Ajusta el tamaño si lo prefieres un poco más grande */
        background-size: 200px;

        background-repeat: repeat;
        background-position: center;
        background-attachment: fixed;

        opacity: 0.5;

        /* 3. Opcional: Baja el grayscale al 80% o 50% si quieres que se note el color */
        filter: grayscale(80%);
      }
    </style>
  </body>
</html>
